/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
li {
    list-style: none;
}

// ここから
.l-body {
    max-width: 1280px;
    padding: 0 4%;
}

.l-header {
    display: flex;
    justify-content: space-around;
}

.p-headerTitle{
    margin: 121px 30px 0 0;
    width: 120px;
    height: 27px;
}

.p-headerNav__items {
    display: flex;
    margin-top: 120px;
    gap: 33px;
}

.p-headerNav__item {    
    height: 14px;
}

.l-main {
    max-height: 420px;
}

.p-mainImg {
    width: 1280px;
}

.p-mainImg img {
    margin-top: 125px;
    object-fit: cover;
    height: 200px; 
    width: 100%;
    height: 100%;
}

.p-aboutSection {
    margin: 0 290px;
}

.p-mainTitle {
    font-family: "Helvetica Neue";
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 68px 0;
}

.titleBlock__address {
    margin-top: 48px;
    line-height: normal;
}

.titleBlock__profile {
    margin-top: 67px;
    line-height: normal;
}

.c-worksWrap {
    display: flex;
    justify-content: center;
    gap: 31px ;
}

.p-workImg img{
    width: 264px;
    height: 172px;
}

@media screen and (max-width:480px){
    .l-header {
        flex-direction: column;
        align-items: center;
    }

    .p-headerTitle{
        margin-top: 20px;
        margin-bottom: 30px;
        margin-left: inherit;
    }

    .p-headerNav__items {
        gap: 12px; 
        margin-top: inherit;
    }

    .p-headerNav__item {
        height: 13px;
    }

    .p-mainImg img {
        margin-top: 25px;
        width: 480px;
        height: 550px; 
    }

    .p-aboutSection {
        margin: inherit;
    }
}


